@model FinalProject.Models.ViewModels.ApiSearchResultViewModel


<div class="card col-3">
    <h2>@Model.title</h2>
    <p>@Model.subtitle</p>
    <img src="@Model.image" />
    <button onclick="CreateBook('@Model.title', '@Model.subtitle', '@Model.isbn13', '@Model.image', '@Model.url', '@Model.CategoryId')" class="btn btn-primary">Create</button>
</div>
