@model FinalProject.Models.ViewModels.ApiSearchResultViewModel

<div class="border border-info rounded shadow w-75" style="margin-bottom:5px; margin-top:10px; padding-right:5px;background-color:white">
    <div class="container d-inline-flex justify-content-between align-content-center">

        <div class="col-4">
            <img src="@Model.image" />
        </div>
        <div class="col-8">
            <div class="mt-5">
                <h4 class="text-black pl-3 mt-5" >@Model.title</h4>
                <h6 class="text-black font-italic mt-5 pl-3">
                    @Model.subtitle
                </h6>
            </div>
            <br />          
                        <div class="container d-inline-flex justify-content-md-start align-content-center mt-5">
                
                    <a href="@Model.url" target="_blank" class="btn btn-secondary mr-4 text-white px-2">More info</a>
              
                <button onclick="CreateBook('@Model.isbn13', '@Model.CategoryId')" class="btn btn-primary text-md-right px-5">Add</button>
            </div>
        </div>
    </div>
</div>