@model IEnumerable<FinalProject.Models.Book>

<div class="container p-md-3">
    <div class="row pt-md-4">
        <div class="col-md-6 col-sm-8">
            <h2 class="font-weight-bold" style="color:darkslateblue">List of Books</h2>
        </div>
        <div class="col-md-6 col-sm-8 text-right">
            <a asp-area="" asp-controller="Books" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp;Add book</a>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-hover text-black table-striped shadow-lg p-3 mb-5 bg-body rounded font-weight-bold" style="width:100%;">
            <thead>
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3 col-sm-2 align-middle">@item.Title</td>
                        <td class="col-md-5 col-sm-2 align-middle">@item.Subtitle</td>
                        <td class="col-md-1 col-sm-2 align-middle">
                            @Enum.Parse(typeof(Book.EStatus), item.Status)
                        </td>

                        <td class="col-md-2 text-center align-middle">
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <partial name="_TableButtonPartialView" class="col-md-1" model="item.Id" />                       
                    </tr>
}
            </tbody>
        </table> }
    else
    {
        <p> No book created yet</p>
    }
</div>

