@model IEnumerable<FinalProject.Models.Book>

<h1 class="text-black ml-4"> List of Books</h1>
<style>
    .flip-card {
        background-color: transparent;
        width: 310px;
        height: 390px;
        perspective: 1000px;        
        border-radius: 30px;
    }

    .flip-card-inner {
        position: relative;
        width: 310px;
        height: 390px;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 30px;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 310px;
        height: 390px;
        backface-visibility: hidden;
        border-radius: 30px;
    }

    .flip-card-front {
        /*padding: 10px;*/
        background-color: rgb(255 255 255 / 0.90);
        color: black;
    }

    .flip-card-back {
        padding-top:40px;
        background-color:#F7931D;
        /* color: white;*/
        color: black;
        transform: rotateY(180deg);
    }
</style>

@foreach (var item in Model)
{
    <div class="d-inline-flex m-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="@item.Image" alt="Avatar" height="370" weight="360"/>
                </div>
                <div class="flip-card-back">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Subtitle)</p>
                    <p> @Html.DisplayFor(modelItem => item.Category.Name)</p>
                    @if (User.Identity.IsAuthenticated)

                    {
                        <input type="button" id="checkout" class="btn btn-primary text-white"
                               onclick=checkOut("@item.Id") value="@Enum.Parse(typeof(Book.EStatus), item.Status)" />
                    }
                    else
                    {
                        <button class="btn btn-primary">
                            <a asp-area="Identity" asp-page="/Account/Login" class=" btn btn-primary text-white rounded">Ready to CheckOut</a>
                        </button>


                    }
                    <p class="card-text pt-5">
                        <a class="btn btn-success text-white px-4" asp-action="Details" asp-route-Id="@item.Id">
                            <i class="fas fa-list-alt fa-2x" style="font-size:23px"></i>
                        </a>
                        <button class="btn btn-secondary">
                            <a href="@item.MoreInfoUrl" class="text-white">More info</a>
                        </button>                    
                </div>
            </div>
        </div>
    </div>

}

