@model IEnumerable<FinalProject.Models.Book>

<div class="container p-md-3">
    <div class="row pt-md-4">
        <div class="col-md-6 col-sm-8">
            <h2 class="text-info">List of Books</h2>
        </div>
        <div class="col-md-6 col-sm-8 text-right">
            <a asp-area="" asp-controller="Books" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp;Add book</a>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-bordered table-striped shadow-lg p-3 mb-5 bg-body rounded" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-2 col-sm-2">@item.Title</td>
                        <td class="col-md-2 col-sm-2">@item.Author</td>
                        <td class="col-md-2 col-sm-2">
                            @Enum.Parse(typeof(Book.EStatus), item.Status)
                        </td>
                        <td class="col-md-2 col-sm-2">
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </td>                        
                        <partial name="_TableButtonPartialView" model="item.Id" />
                       
                    </tr>
}
            </tbody>
        </table> }
    else
    {
        <p> No book created yet</p>
    }
</div>

