@model IEnumerable<FinalProject.Models.Book>



@*<div class="card flex-row" style="width: 18rem;">
    @foreach (var item in Model)
    {

        <div class="card-body m-4">
            <h5 class="card-title">  @Html.DisplayFor(modelItem => item.Title)</h5>
          
            <partial name="_DetailView" model="item.Id" />
        </div>

    }
</div>*@
    <h1>This is a List view of the books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>

                            <input type="button" id="checkout" class="btn btn-primary text-white"
                                   onclick=checkOut("@item.Id") value="@Enum.Parse(typeof(Book.EStatus), item.Status)" />
                                                    
                        </td>
                    }
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

