@model FinalProject.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">

    <div class="container bg-light text-center"
         style=" margin-top:230px;
                border:2px solid black;
                width:450px; border-radius:15px;">
        <h1 class="font-weight-bold font-italic" style="color:darkblue">Delete</h1>
        <h2 class="text-center pb-1">
            Are you sure! you want to delete this book?
        </h2>

        <div class="justify-content-md-center align-content-center">

            <p class="text-center font-weight-bold" style="font-family:'Yu Gothic';">
                @Html.DisplayFor(model => model.Title)
            
          
                </p>
        </div>
        <form asp-action="Delete" class="d-flex justify-content-center align-content-center p-5">
            <input type="hidden" asp-for="Id" />
            <div class="mx-5">
                <input type="submit" value="Delete" class="btn btn-danger mr-4" />
                <a asp-action="Index" class="btn btn-success text-white">Back to List</a>
            </div>

        </form>




        @*<form method="post" class="ml-4" asp-action="Delete">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-5" style=" border:2px solid #000000;">
                    @Html.DisplayFor(model => model.Title)

                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.Subtitle)
                </div>
                <div class="col-5" style=" border:2px solid #000000;">
                    @Html.DisplayFor(model => model.Subtitle)
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.Status)

                </div>
                <div class="col-5" style=" border:2px solid #000000;">
                    @Html.DisplayFor(model => model.Status)
                </div>


            </div>
            <div class="form-group row">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.Category)
                </div>
                <div class="col-5" style=" border:2px solid #000000;">

                    @Html.DisplayFor(model => model.Category.Name)
                </div>

            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <input type="hidden" asp-for="Id" />
                    <partial name="_DeleteAndBacktolistButton" />
                </div>

            </div>
    </div>*@
    
    </div>
</body>





    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
