@using System.ComponentModel.DataAnnotations
@model FinalProject.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">
    <h1 class="text-left"> Book Details</h1>
    <div class="container-fluid mt-md-5 d-flex justify-content-md-center  bg-white shadow align-content-center" style="border:2px black solid;">

        <div class="col-md-5"><img src="@Model.Image" height="500" weight="700" /></div>

        <div class="col-md-7 p-md-4">


            <div class="container-fluid justify-content-center align-items-center m-md-2">

                <h4 class="p-md-3"><span class="font-weight-bold">Title: </span>@Html.DisplayFor(model => model.Title)</h4>
                <h6 class="p-md-3"><span class="font-weight-bold"> Author: </span>@Html.DisplayFor(model => model.Authors)</h6>
                <h6 class="p-md-3"><span class="font-weight-bold"> Year: </span>@Html.DisplayFor(model => model.Year)</h6>
                <h6 class="p-md-3"><span class="font-weight-bold"> Sub-Title: </span>@Html.DisplayFor(model => model.Subtitle)</h6>
                <h6 class="p-md-3"><span class="font-weight-bold">Category Name: </span>@Html.DisplayFor(model => model.Category.Name)</h6>
                <h6 class="p-md-3"><span class="font-weight-bold"> Description: </span>@Html.DisplayFor(model => model.Description)</h6>

                <div class="container p-md-3">
                    <a asp-action="Index" class="btn btn-success text-white">Back to List</a>
                    <a href="@Model.MoreInfoUrl" target="_blank" class="btn btn-secondary text-white">More info</a>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            }
        </div>
    </div>
</body>
