@model SearchByKeywordViewModel

@{
    ViewData["Title"] = "Books by " + @Model.SearchKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">

    <h1>@Model.SearchKeyword</h1>



    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Enum.Parse(typeof(Book.EStatus), item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.Name)
                    </td>
                    <td>

                        <partial name="_DetailView" model="item.Id" />

                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>