@model SearchByKeywordViewModel

@{
    ViewData["Title"] = "Books by " + @Model.SearchKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">

    <h1>@Model.SearchKeyword</h1>



    @*<table class="table">*@
    @*<thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>*@
    @*<tbody>*@
    @foreach (var item in Model.Books)
    {
        <div class="container d-inline-block" >
            <p>
                @Html.DisplayFor(modelItem => item.Title)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Author)
            </p>
            <p>
                @Enum.Parse(typeof(Book.EStatus), item.Status)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </p>
            <p>  <partial name="_DetailView" model="item.Id" /></p>
        </div>


        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Enum.Parse(typeof(Book.EStatus), item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>

                    <partial name="_DetailView" model="item.Id" />

                </td>
            </tr>*@
    }
    @*</tbody>
        </table>*@
</body>

