@model SearchByKeywordViewModel

@{
    ViewData["Title"] = "Books by " + @Model.SearchKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">

    <h1>@Model.SearchKeyword</h1>
    @foreach (var item in Model.Books)
    {
        <div class="container d-inline-block" >
            <p>
                @Html.DisplayFor(modelItem => item.Title)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Author)
            </p>
            <p>
                @Enum.Parse(typeof(Book.EStatus), item.Status)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </p>
            <p>  <partial name="_DetailView" model="item.Id" /></p>
        </div>
    }
   
</body>



