@model IEnumerable<Book>
@{
    ViewData["Title"] = "CheckoutBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="py-3">Checked Out Books</h2>


@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-hover text-white font-weight-bold" style="width:100%;background-color:#33658A; font-size:20px">
        <thead>
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    Days Left
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                TimeSpan t;
                int days;
                @foreach (var item in Model)
                {
                    t = (TimeSpan)(item.DueDate - DateTime.Now);
                    days = t.Days;
                    @if (days < 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td class="text-center">@item.DueDate.Value.ToShortDateString()</td>
                            <td class="text-center" style="color:red">Overdue. Please return soon!</td>
                            <td class="text-center">
                                <input type="button" id="return" class="btn text-white font-weight-bold" style="background-color:#F7931D; border:1px solid black"
                                       onclick=bookReturn("@item.Id") value="Return" />
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td class="text-center">@item.DueDate.Value.ToShortDateString()</td>
                            <td class="text-center">@days</td>
                            <td class="text-center">
                                <input type="button" id="return" class="btn text-white font-weight-bold" style="background-color:#F7931D; border:1px solid black"
                                       onclick=bookReturn("@item.Id") value="Return" />
                            </td>
                        </tr>

                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No books checked out. </p>

}
@section Scripts{

    <script type="text/javascript">
    function bookReturn(id) {
        var checkInurl = '@Url.Action("Return", "Users")';
        var returnUrl = '@Url.Action("CheckoutBooks", "Users")';
        checkInurl = checkInurl + '/?id=' + id;
        $.ajax({
            url: checkInurl,
            type: 'GET',
            success: function (response) {

                bootbox.alert({
                    message: response,
                                 callback: function () {
                        window.location.href = returnUrl;
                    }
                });


            },
            error: function () {

            }
        })
    }

    </script>
}





