@model IEnumerable<Book>   
@{
    ViewData["Title"] = "CheckoutBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checked Out Books</h2>


@if(Model.Count()>0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    Days Left
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                TimeSpan t;
                int days;
                @foreach (var item in Model)
                {
                    t = (TimeSpan)(item.DueDate - DateTime.Now);
                    days = t.Days;
                    @if (days < 0)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td>@item.DueDate.Value.ToShortDateString()</td>
                            <td style="color:red">Overdue. Please return soon!</td>
                        </tr> 
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Title)</td>
                            <td>@item.DueDate.Value.ToShortDateString()</td>
                            <td>@days</td>
                        </tr>

                    }
                }
            }
        </tbody>
    </table>
}





