@model IEnumerable<Book>   
@{
    ViewData["Title"] = "CheckoutBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checked Out Books</h2>


@if(Model.Count()>0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    Days Left
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                TimeSpan t;
                int days;
                @foreach (var item in Model)
                {
                    t = (TimeSpan)(item.DueDate - DateTime.Now);
                    days = t.Days;
                    @if (days < 0)
                    {
            <tr>
                <td>@Html.DisplayFor(model => item.Title)</td>
                <td>@item.DueDate.Value.ToShortDateString()</td>
                <td style="color:red">Overdue. Please return soon!</td>
                <td>
                    <input type="button" id="return" class="btn btn-primary text-white"
                           onclick=bookReturn("@item.Id") value="Return" />
                </td>
            </tr> 
                    }
                    else
                    {
        <tr>
            <td>@Html.DisplayFor(model => item.Title)</td>
            <td>@item.DueDate.Value.ToShortDateString()</td>
            <td>@days</td>
            <td>
                <input type="button" id="return" class="btn btn-primary text-white"
                       onclick=bookReturn("@item.Id") value="Return" />
            </td>
        </tr>

                    }
                }
            }
        </tbody>
    </table>
}
            else
            {
                    <p>No books checked out. </p>

            }
@section Scripts{

    <script type="text/javascript">
    function bookReturn(id) {
        var checkInurl = '@Url.Action("Return", "Users")';
        var indexUrl = '@Url.Action("Index", "Books")';
        checkInurl = checkInurl + '/?id=' + id;
        $.ajax({
            url: checkInurl,
            type: 'GET',
            success: function (response) {
                alert(response);
                window.location.href = indexUrl;
            },
            error: function () {

            }
        })
    }

    </script>
}





